<div class="container">
    <div class="row">
      <div class="col-6">
            <h4 class="text-center" style="padding-top: 10%;"><b>Forgot Password?</b></h4>
            <form class="example-form" [formGroup]="Forgot">
              <div style="padding: 20px">
                <mat-form-field class="example-full-width">
                    <mat-label>Email Id</mat-label>
                    <input matInput placeholder="Email Id" formControlName="email_id" />
                  </mat-form-field>
              </div>
            </form>
            <button mat-raised-button color="warn" class="btnstyle" (click)="sendMail()">Send Mail</button>
      </div>
      <div class="col-6">
        <img src="../../assets/hero.gif" alt="heroImg">
      </div>
    </div>
  </div>