<div class="container">
    <div class="row">
      <div class="col-6">
            <h4  style="padding-top: 10%; padding-left: 37%;"><b>Enter OTP Code</b></h4>
            <p style=" padding-left: 24%;">Your OTP code was sent to you via email!</p>
            <form class="example-form" >
                  <div class="content">
                    <div class="o-c">
                      <div style="padding-left: 25%;">
                          <ng-otp-input (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
                          <span class="o-t-p">
                          </span>
                        </div>
                      </div>
                  </div>
            </form><br>
            <div style="padding-left: 14%;"><button mat-raised-button color="warn" class="btnstyle" (click)="verifyOtp()">Verify OTP</button></div>
      </div>
      <div class="col-6">
        <img src="../../assets/hero.gif" alt="heroImg">
      </div>
    </div>
  </div>
