<div class="container text-center">
<h3 style="color: #f12b20;">Admin Dashboard</h3><br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>User Management</mat-card-title>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                  </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>View All My Question</mat-card-title>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>View All Blogs</mat-card-title>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>
            </div>
    </div><br><br>
    <div class="row">
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>User Management</mat-card-title>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>View All My Question</mat-card-title>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>View All Blogs</mat-card-title>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                </mat-card-content>
              </mat-card>
        </div>
</div>
</div>
