<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
    <div class="row" style="height: 60%;">
        <div class="col-6"
            style="margin-top: 8%;display:flex;flex-direction: column; justify-content: center; align-items: center;">
            <h2 class="text-center">Top free tool and extension to <br />grow you business</h2>
            <p class=" text-center mt-4 p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!</p>
        </div>
        <!-- <br> -->
        <!-- <div class="row">
                <div class="col-1"></div>
            </div> -->
        <!-- </div> -->
        <div class="col-6"
            style=" height: 60vh;display:flex;flex-direction: column; justify-content: center; align-items: center">
            <img src="../../assets/hero.gif" alt="heroImg" style="margin-top:15%" />
        </div>
        <div class=col-12>
            <p class=" text-center mt-4 p-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!


                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Perferendis,
                architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!</p>
        </div>
    </div>
</div>
<!-- </div> -->