
<div class="container-fluid">

    <!-- <mat-toolbar> -->
    <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;">
        <div *ngIf="navBarActive==true">
            <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
                <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
                <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
            </button>
        </div>
        <div *ngIf="navBarActive==true" style="width: 90%; margin-right: 0%;">
            <app-navbar></app-navbar>
        </div>
        <div *ngIf="navBarActive==false" style="width: 100%; margin-right: 0%; margin-left: 10%;">
            <app-navbar></app-navbar>
        </div>
    </div>
    <!-- </mat-toolbar> -->
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" (click)="sidenav.toggle()">
            <img class="avatar" src="../../../assets/admin.png" /> <i class="bi bi-pencil-square" style="color: black;"
                (click)="updateProfile()" *ngIf="role!=null"></i>
            <h4 class="name">Admin</h4>

            <app-user-profile></app-user-profile>

            <button mat-button class="menu-button" routerLink="">
                <mat-icon>home</mat-icon>
                <span>Home</span></button>

            <button mat-button class="menu-button" *ngIf="role=='admin'">
                <mat-icon>perm_identity</mat-icon>
                <span>Admin</span></button>

            <button mat-button class="menu-button" routerLink="/login" *ngIf="role==null">
                <mat-icon>person</mat-icon>
                <span>Login</span></button>

            <button mat-button class="menu-button" routerLink="/stack" *ngIf="role!='admin'">
                <mat-icon>dashboard</mat-icon>
                <span>Stack</span>
            </button>

            <button mat-button class="menu-button" routerLink="" *ngIf="role=='admin'">
                <mat-icon>settings</mat-icon>
                <span>Settings</span></button>

            <button mat-button class="menu-button" routerLink="/contact">
                <mat-icon>help</mat-icon>
                <span>Help</span></button>

            <button mat-button class="menu-button" (click)="logout()" *ngIf="role !=null">
                <mat-icon>logout</mat-icon>
                <span>Logout</span></button>

        </mat-sidenav>
        <mat-sidenav-content style="padding-top: 2%;">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>