
  button{
    color: #9fc5e8;
  }

  a{
    text-decoration: none;
      color:#9fc5e8;
    cursor: pointer;
}
  
  mat-sidenav {
    margin: 16px;
    width: 180px;
    border-right: none;
    background: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }

.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;

  height: 60px; 
  width:100px;   
}

.head-cont{ 
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
}   