<div class="container text-center">
 <h3 class="text-center" style="padding-top: 20px;">All Blogs</h3><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-dark text-start" style="width: 100%;" (click)="openCityDialog()"><i
                class="bi bi-search" style="margin-right: 1%"></i>Search Blog</button>
        </div>
        <div class="col-2">
            <button mat-raised-button type="button" color="warn" style="width: 100%;" (click)="postBlogs()">Post Blogs</button>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<ng-template let-data #myCityDialog>
    <h2 mat-dialog-title>
        <div class="form-outline">
            <div class="input-icons">
                <i class="bi bi-search" style="padding-left: 38%;"></i>
                <input type="search" id="form1" class="form-control" placeholder="Sreach blogs" aria-label="Search" />
            </div>
        </div>
    </h2>
    <div mat-dialog-actions><button mat-button mat-dialog-close>Close</button>
    </div>
</ng-template><br><br>



<div class="container" style="display: flex; gap: 2%;">
    <div style="border: 1px #9fc5e8 solid ; border-radius: 20px;" class="p-2">
        <div>
            <img src="../../../../../../assets/about.jpg" alt="" style="height: 240px; border-radius: 20px;" class="m-2">
            <div class="container">
                <h6>adidas</h6>
                <h5 style="font-size: 15px; font-weight: bold; ">Cartoon Astronaut T-Shirts
                </h5>
                <p style="display: flex; gap: 0.2%;"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></p>
                <div class="row" style="">
                    <div class="col-3">
                        <b class="bi bi-currency-dollar">78</b>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-2" style="background-color: #dbeced;
                border-radius: 50%;
                padding-left: 4.5%;
    
                font-size: 25px;
                padding-bottom: 0%;"><i class="bi bi-cart-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div style="border: 1px #9fc5e8 solid ; border-radius: 20px;" class="p-2">
        <div>
            <img src="../../../../../../assets/blog2.png" alt="" style="height: 240px; border-radius: 20px;" class="m-2">
            <div class="container">
                <h6>adidas</h6>
                <h5 style="font-size: 15px; font-weight: bold; ">Cartoon Astronaut T-Shirts
                </h5>
                <p style="display: flex; gap: 0.2%;"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></p>
                <div class="row" style="">
                    <div class="col-3">
                        <b class="bi bi-currency-dollar">78</b>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-2" style="background-color: #dbeced;
                border-radius: 50%;
                padding-left: 4.5%;
    
                font-size: 25px;
                padding-bottom: 0%;"><i class="bi bi-cart-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div style="border: 1px #9fc5e8 solid ; border-radius: 20px;" class="p-2">
        <div>
            <img src="../../../../../../assets/blog2.png" alt="" style="height: 240px; border-radius: 20px;" class="m-2">
            <div class="container">
                <h6>adidas</h6>
                <h5 style="font-size: 15px; font-weight: bold; ">Cartoon Astronaut T-Shirts
                </h5>
                <p style="display: flex; gap: 0.2%;"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></p>
                <div class="row" style="">
                    <div class="col-3">
                        <b class="bi bi-currency-dollar">78</b>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-2" style="background-color: #dbeced;
                border-radius: 50%;
                padding-left: 4.5%;
    
                font-size: 25px;
                padding-bottom: 0%;"><i class="bi bi-cart-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div style="border: 1px #9fc5e8 solid ; border-radius: 20px;" class="p-2">
        <div>
            <img src="../../../../../../assets/blog2.png" alt="" style="height: 240px; border-radius: 20px;" class="m-2">
            <div class="container">
                <h6>adidas</h6>
                <h5 style="font-size: 15px; font-weight: bold; ">Cartoon Astronaut T-Shirts
                </h5>
                <p style="display: flex; gap: 0.2%;"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></p>
                <div class="row" style="">
                    <div class="col-3">
                        <b class="bi bi-currency-dollar">78</b>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-2" style="background-color: #dbeced;
                border-radius: 50%;
                padding-left: 4.5%;
    
                font-size: 25px;
                padding-bottom: 0%;"><i class="bi bi-cart-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div style="width: 95%; padding-left: 4%;"><mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator></div><br>