<div class="container">
    <div class="row">
      <div class="col-5">
            <h4 class="text-center" style="padding-top: 10%;"><b>Reset Password</b></h4>
            <form class="example-form" [formGroup]="Reset">
              <div style="padding: 20px">

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput  [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password">
                    <mat-icon matSuffix (click)="showPassword=!showPassword">{{showPassword ? 'visibility':'visibility_off'}}</mat-icon>          
                  </mat-form-field>
                  <div>
                    <p *ngIf="Reset.controls['password'].errors" class="error" style="color: red;">{{Reset.controls['password'].errors['passwordStrength']}}</p>
                  </div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password" formControlName="confirmPassword" />
                    <mat-icon matSuffix (click)="showConfirmPassword=!showConfirmPassword">{{showConfirmPassword ? 'visibility':'visibility_off'}}</mat-icon>
                  </mat-form-field>
              </div>
            </form>
            <button mat-raised-button color="warn" class="btnstyle" (click)="resetPassword()">Reset Password</button>
      </div>
      <div class="col-1"></div>
      <div class="col-6">
        <img src="../../../assets/landingpage.gif" alt="heroImg">
      </div>
    </div>
  </div>